@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-terminal-bg text-gray-200;
  font-family: 'Inter', system-ui, sans-serif;
}

/* 自定义滚动条 */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  @apply bg-terminal-bg;
}
::-webkit-scrollbar-thumb {
  @apply bg-slate-600 rounded;
}